body {
  font-size:        1em;
  background-color: #FFFFFF;
}
.header_bar {
  background-color: #ECECEC;
  margin-bottom:    2em;
}
.footer_bar {
  color:            #000000;
  margin-top:       1em;
  background-color: #ECECEC;
  padding-bottom: 100px;
  margin-top: 100px;
}
.origin {
  font-size:        0.7em;
}
.content {
  color:            #000000;
  font-size:        1.1em;
  display:          block;
}
.loading {
  margin-top:       1em;
  display:          none;
}
.result {
  display:          none;
}
#error {
  display:          none;
}
kbd {
  display:          block;
  margin-left:      auto;
  margin-right:     auto;
}
pre {
  color:            #FFFFFF;
  background-color: #000000;
  text-decoration:  none;
  margin-left:      auto;
  margin-right:     auto;
  padding-left:     1%;
  padding-right:    1%;
}
a {
  color:            #000000;
  text-decoration:  none;
}
a:hover {
  color:#000000;
  text-decoration:  none;
}

.h1_t{
  color: #2c0309;
  font-family: 'Nanum Gothic', sans-serif;

}

